<!-- 'success/info/warning/danger' -->

<!--
<div class="alert alert-info">
    message
</div>
-->

{% if flash.getMessage('info') %}
    <div class="alert alert-info">
        {{ flash.getMessage('info') | first }}
    </div>
{% endif %}

{% if flash.getMessage('danger') %}
    <div class="alert alert-danger">
        {{ flash.getMessage('danger') | first }}
    </div>
{% endif %}
